<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905119371152-ds0pfi2f7e7dmnvuq5cni1n8mkt543p9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905119371152-ds0pfi2f7e7dmnvuq5cni1n8mkt543p9</string>
	<key>API_KEY</key>
	<string>AIzaSyDYTNk5RIhQqgWzahYjAN5blaEyO27u-ok</string>
	<key>GCM_SENDER_ID</key>
	<string>905119371152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-7829f</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-7829f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905119371152:ios:5bf2de1435f4dd76a46d15</string>
</dict>
</plist>